#article
  #line_bar.chart{:style => "width: 860px; height: 500px;"}
  .text
    ="Followers graph for bobuk"
  =image_tag('bobuk.png')
  #line_bar_ua.chart{:style => "width: 860px; height: 500px;"}
  .text
    ="Followers graph for Paul Miller"
    = link_to "http://dou.ua/users/paulmillr/", "http://dou.ua/users/paulmillr/"
  =image_tag('paulmlr.png')
  #line_bar_bel.chart{:style => "width: 860px; height: 500px;"}

