#it_chart{:style => "width: 560px; height: 500px;"}
#year_chart{:style => "width: 560px; height: 500px;"}
#other_chart{:style => "width: 560px; height: 500px;"}
#golden_chart{:style => "width: 560px; height: 500px;"}
#srjr_chart{:style => "width: 560px; height: 500px;"}
#xp_chart{:style => "width: 560px; height: 500px;"}
#gender_chart{:style => "width: 560px; height: 500px;"}