#article
  %h2 Обзор зарплат
  .text
    ="В ходе декабрьского зарплатного опроса было получено 4226 анкет, для сравнения прошлые опросы"
    =link_to "здесь", "http://dou.ua/lenta/articles/developers-salaries-december-2011/" 
    ="и"
    =link_to "здесь", "http://dou.ua/lenta/work/salary-survey-report-oct-2010/" 
    =". Средние зарплаты по основным специализациям выглядят сейчас так:"
  #it_chart.chart{:style => "width: 560px; height: 500px;"}
  .text
    = "Если сравнивать это с декабрем 2011, мы видим вполне ожидаемое увеличение."
  #year_chart.chart{:style => "width: 560px; height: 500px;"}
  .text
    = "Также мы видим, что увеличение зарплат в среднем не такой уж и большое. Это связано как с увеличением количества middle и junior разработчиков, так и с ростом количества разработчиков в других городах, кроме самого дорогого Киева, или даже с увеличением налога ЧПшникам, потому что рассматриваем зарплаты после уплаты налогов. Но мы не будем особо вдаваться в вопросы налогообложения здесь, а посмотрим на зарплаты по синьорам и джуниорам, а потом по городам для объективности. А потом перейдем к самому приросту."
  #srjr_chart.chart{:style => "width: 560px; height: 500px;"}
  .text
    = "А здесь — сколько надо опыта, чтобы им стать."
  #xp_chart.chart{:style => "width: 560px; height: 300px;"}
  .text 
    ="Если смотреть по городам, больше всего анкет у нас из Киева, Харькова и Львова."
  #golden_chart.chart{:style => "width: 560px; height: 800px;"}
  .text
    ="Во Львове разработчики почти такие же дорогие, как в Киеве, в Харькове подешевле. Ещё дорого в Одессе, и подешевле в Донецке."
  #city_chart.chart{:style => "width: 560px; height: 800px;"}
  .text
    ="Но в целом понятно, что прирост зарплат никто не отменял, и какой он этот прирост? Тут еще график прироста будет."
  .text
    ="На закуску — сравнение средних зарплат по другим специализациям."
  #other_chart.chart{:style => "width: 560px; height: 500px;"}
  .text
    ="Ну и небольшой график по половому признаку. Для значимости статистики, пришлость убрать питонисток и рубиcток, потому что их мало, а получают они много."
  #gender_chart.chart{:style => "width: 560px; height: 500px;"}